nav.top-nav
    div.container
        div.nav-wrapper
            a.brand-logo
                i.material-icons.left chrome_reader_mode
                |查看合同
div.container.cms_edit
    div.row.cms_edit_search
        div.col.s1.m2.hide-on-large-only.right
            p &nbsp;
        div.col.s10.m8.l5.right.cms_edit_search_input
            div.card
                input(value="HS").yahei
                i.material-icons search
        div.col.s10.offset-s1.m8.offset-m2.l7.cms_edit_search_option
            div.switch.left
                label.yahei
                    |&nbsp;
                    input(type="checkbox",checked=true)
                    span.lever
                    |仅未授权
            a.btn.waves-effect(href=false).yahei.right 查询全部
        div.col.s10.offset-s1.m8.offset-m2.l12
            blockquote.yahei.grey-text
                i.material-icons.red-text warning
                span &nbsp;状态为 未授权；
                i.material-icons.green-text check_circle
                span &nbsp;状态为 已授权。
    div.cms_edit_cts.center-align
        div.card-panel.row.hide-on-small-only
            div.col.s2
                p.yahei 编码
            div.col.s4
                p.yahei 合同名称
            div.col.s3
                p.yahei 甲方
            div.col.s1
                p.yahei 状态
            div.col.s2
                p.yahei 操作
        div.card-panel.row(ct_status="gived")
            div.col.s4.hide-on-med-and-up
                p.yahei 编码
            div.col.m2.l2.s8
                i.material-icons.left.red-text.hide-on-med-and-up warning
                i.material-icons.left.green-text.hide-on-med-and-up check_circle
                p.truncate HS123456789111
            div.col.s4.hide-on-med-and-up
                p.yahei 合同名称
            div.col.m4.l4.s8
                p.yahei.truncate 一二三四五六七八九十一二三四五六七八九十
            div.col.s4.hide-on-med-and-up
                p.yahei 甲方
            div.col.m3.l3.s8
                p.yahei.truncate 一二三四五六七八九十一二三四五六七八九十
            div.col.m1.l1.s8.hide-on-small-only
                i.material-icons.red-text warning
            div.col.m2.l2.s8.hide-on-small-only
                p.yahei.truncate 一二三四

    style
        :stylus
            .cms_edit
                .yahei
                    font-family "Microsoft YaHei"!important
                .cms_edit_search
                    margin-top 16px
                    .cms_edit_search_option
                        height 60px
                        .switch
                            line-height 60px
                            display inline
                        a.btn
                            margin 12px 0
                    .cms_edit_search_input
                        .card
                            input
                                display block
                                font-size 16px
                                font-weight 300
                                width 100%
                                height 45px
                                margin 0
                                padding 0 45px 0 15px
                                border 0
                                outline none
                                box-shadow: none
                                -webkit-transition: all 0.3s
                                -moz-transition: all 0.3s
                                -ms-transition: all 0.3s
                                -o-transition: all 0.3s
                                transition: all 0.3s
                            i
                                position: absolute
                                top: 10px
                                right: 10px
                                cursor: pointer;
                    blockquote
                        margin 0.4rem 0
                        font-size 0.8rem
                        i
                            font-size 0.8rem
                .cms_edit_cts
                    .card-panel
                        margin: 0
                        padding: 0
                        i
                            line-height 52px
                            display: inline
                    @media only screen and (max-width: 600px)
                        .card-panel
                            margin-bottom 1.6rem
                            position: relative
                            i
                                font-size 1rem
                        .card-panel[ct_status="ingived"]
                            background #ffe6e8
                            i:nth-of-type(2)
                                display: none
                        .card-panel[ct_status="gived"]
                            background #E8F5E9
                            i:nth-of-type(1)
                                display: none


    script.
        (function(){
            $('.cms_edit_cts .card-panel[ct_status]').focus(function(){

            })
        })()