radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  -o-border-radius arguments
  border-radius arguments
radius-bottom()
  -moz-border-bottom-right-radius arguments
  -webkit-border-bottom-right-radius arguments
  -o-border-bottom-right-radius arguments
  border-bottom-right-radius arguments
  -moz-border-bottom-left-radius arguments
  -webkit-border-bottom-left-radius arguments
  -o-border-bottom-left-radius arguments
  border-bottom-left-radius arguments
trans()
  transition arguments
  -moz-transition arguments
  -webkit-transition arguments
  -ms-transition arguments
  -o-transition arguments
transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments
gradient()
  -ms-linear-gradient(arguments)
  -moz-linear-gradient(arguments)
  -webkit-linear-gradient(arguments)
  -o-linear-gradient(arguments)
fil(x)
  -webkit-filter blur(x)
  -moz-filter blur(x)
  -ms-filter blur(x)
  filter blur(x)
