doctype html
html
    head
        script(src='http://hs.stcula.com:800/static/lib/jquery.js')
        link(rel='stylesheet',href='http://hs.stcula.com:800/static/lib/pure.min.css')
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        style
            :stylus
                @import "hack"
                .resTr2
                .resTr5
                    height 17px
                    td
                        width:14.0cm
                        border:none
                        height 17px
                    p
                        text-align:right
                        font-size 10pt
                .resTr2
                    border-bottom: solid 1.0pt #32CD32
                .resTd3
                    background: #32CD32
                    width:70pt;
                    border:solid 1.0pt #32CD32
                    border-top:none
                    p
                        font-size 12pt
                        font-weight bold
                        color #FFF
                .resTd4
                    border-top:none;
                    border-left:none;
                    border-bottom:solid 1.0pt #32CD32
                    border-right:solid 1.0pt #32CD32
                    input
                        font-size 16px

                .input
                    margin auto 0
                    border 0px
                    border-bottom 2px solid #999
                    height 24px
                    width 260px
                    background-color rgba(0, 0, 0, 0.0)
                    outline-width 0px
                    color #222
                    font-family "Microsoft YaHei"
                ////////////////////////


                ///////////////////////////////////
                p
                    font-family "Microsoft YaHei"
                    margin 0 auto

                .onNext
                    width 637px
                    height 12px
                    background: #deffc6
                    trans all 0.6s
                    color #000
                    border 1px solid #3FCF3F
                    margin 0 auto
                    margin-top 24px
                    text-align: center
                    position: relative
                    display: none
                    i
                        position: absolute
                        top -6px
                .onNext_:hover
                    background: #3FCF3F
                    color #fff
                .onNext__
                    background: #888
                    border 1px solid #333

                .opbox
                    margin 36px auto
                    p
                        cursor default
                        margin 0 auto
                    .input
                        margin 1px
                        width 99%
                        height 26px
                        text-align:center
                        border 0px solid #999
                        background-color rgba(0, 0, 0, 0.0)
                        outline-width 0px
                        color #222
                        radius 3px
                        font-size 16px
                        font-family "Microsoft YaHei"
                    .onbuttons
                        width 100%
                        text-align: center
                    .onbutton
                        width 80px
                        height 28px
                        text-align center
                        line-height 28px
                        radius 5px
                        trans all 0.5s
                        margin 0 30px
                        margin-top 8px
                        display inline-block
                    .onbuttoni
                        color #FFF
                        trans all 0.5s
                        line-height: 28px
                        font-size 14px
                    .onbutton:hover .onbuttoni
                        color #000

                    .onGo
                        background-color #3FCF3F
                    .onGo:hover
                        background-color #c0fcd0

                    .onWarn
                        background-color #ff6a51
                    .onWarn:hover
                        background-color #fcc0ab

                    .onRefuse
                        background-color #8b8c89

                    .resTab:first-child
                        .resTr:first-child
                            .resTd
                                background: #32CD32
                                trans all 0.6s
                                //border:solid 1.0pt #32CD32
                                border-top:none
                                .resp
                                    font-size 16px
                                    color #fff
                    .resTab
                        margin 1px auto
                        border:none
                        border-collapse:collapse
                        //trans all 0.6s
                        width 637px
                        height 32px
                        table-layout:fixed
                        .resTr
                            trans all 0.6s
                            .resTd
                                white-space nowrap
                                overflow hidden
                                word-break:keep-all
                                text-overflow:ellipsis
                                trans all 0.6s
                                border:none
                                .resp
                                    font-size 14px
                                    color #444
                                .resi
                                    margin-left 10px
                                    trans all 0.6s
                                .resi:hover
                                    color #666
                                    margin-left 10px
                            .resTd:last-of-type
                                display none
                    .resTab:nth-of-type(odd)
                        background: #e4ffde
                    .resTab_:nth-of-type(n+2):hover
                        background: #deffc6
                        width 800px
                        height 250px
                        radius 5px
                        .resTd:not(:last-of-type):not(:first-of-type)
                            display: none
                        .resTd:last-of-type
                            display: table-cell
                    .resTab__:nth-of-type(n+2)
                        background: #deffc6
                        width 800px
                        height 250px
                        radius 5px
                        .resTd:not(:last-of-type):not(:first-of-type)
                            display: none
                        .resTd:last-of-type
                            display: table-cell
                    .ctInputDiv
                        width 60%
                        margin 0 auto
                    .input:focus
                        margin 0px
                        border 1px solid #999
                        background-color rgba(255, 255, 255, 1)

                //////////////////////////////private
                #usrbox
                    .resTab:not(:first-of-type)
                        p:first-of-type
                            margin-bottom 4px
                        .resTr
                            .resTd
                                table
                                    margin 0 auto
                                    .resTr5
                                        p
                                            margin-top 8px
                    .select
                        width 100%
                        height 100%
                        radius 3px
                        background: #deffc6
                        border 0px
                        font-family "Microsoft YaHei"
                        text-align: center
                        option
                            margin 0 auto
                    .select:focus
                        border 1px solid #444

        script.
            $(function() {

                for (var i = 0; i < 10; i++) {
                    $("#usrbox").append('<table class="resTab"><tr class="resTr"><td width="32" class="resTd"><i align="center" class="resi fa fa-circle-o"></i></td>' +
                            '<td width="100" class="resTd"><p align="center" class="resp">李卓恒</p></td>' +
                            '<td width="240" class="resTd"><p align="center" class="resp">440801199706202011</p></td>' +
                            '<td width="160" class="resTd"><p align="center" class="resp">stcula</p></td>' +
                            '<td width="120" class="resTd"><p align="center" class="resp">网管</p></td>' +
                            '<td class="resTd"><table border="0" cellspacing="0" cellpadding="0" class="resTab1"><tr class="resTr2">' +
                            '<td width="555" colspan="4"><p align="right">uin:150620123456</p></td></tr><tr>' +
                            '<td width="91" class="resTd3"><p align="center">真实姓名</p></td>' +
                            '<td width="200" class="resTd4"><input value="李卓恒" class="input"></td>' +
                            '<td width="91" class="resTd3"><p align="center">用户名</p></td>' +
                            '<td width="200" class="resTd4"><input value="stcula" max="16" class="input"></td></tr><tr>' +
                            '<td width="91" class="resTd3"><p align="center">证件号码</p></td>' +
                            '<td width="200" class="resTd4"><input value="440801199706202011" max="18" class="input"></td>' +
                            '<td width="91" class="resTd3"><p align="center">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</p></td>' +
                            '<td width="200" class="resTd4"><input placeholder="默认为身份证后六位" class="input"></td></tr><tr>' +
                            '<td width="91" class="resTd3"><p align="center">Tel</p></td>' +
                            '<td width="200" class="resTd4"><input value="15917597227" max="11" class="input"></td>' +
                            '<td width="91" class="resTd3"><p align="center">Email</p></td>' +
                            '<td width="200" class="resTd4"><input value="1132463097@qq.com" class="input"></td></tr><tr>' +
                            '<td width="91" class="resTd3"><p align="center">角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色</p></td>' +
                            '<td width="200" class="resTd4"><input value="浩盛消防科技有限公司" class="input"></td>' +
                            '<td width="91" class="resTd3"><p align="center">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务</p></td>' +
                            '<td width="200" class="resTd4"><input value="无" class="input"></td></tr><tr class="resTr5">' +
                            '<td width="555" colspan="4"><p align="right">注册日期:2015-08-22</p></td></tr></table>' +
                            '<div class="onbuttons"><div class="resGive onbutton onRefuse"><p class="onbuttoni">通知</p></div>' +
                            '<div class="resPut onbutton onGo"><p class="onbuttoni">保存</p></div>' +
                            '<div class="resReset onbutton onWarn"><p class="onbuttoni">重置</p></div>' +
                            '<div class="resDel onbutton onWarn"><p class="onbuttoni">删除</p></div></div></td></tr></table></div><div id="usrNext" class="onNext"><i class="fa fa-sort-desc"></i></div>')
                }

                $("#usrbox .resTab:not(:first-child)").click(function(){
                    if(this.ifmark) {
                        $(this).removeClass("resTab__")
                        this.ifmark=0
                    }else{
                        $(this).addClass("resTab__")
                        this.ifmark=1
                    }
                })


            })

    body
        #usrbox.opbox
            table.resTab(border=0,cellspacing=0,cellpadding=0)
                tr.resTr
                    td.resTd(width=32)
                        i.resi(align="center").fa.fa-circle-o
                    td.resTd(width=100)
                        p.resp(align="center") 真实姓名
                    td.resTd(width=240)
                        p.resp(align="center") 证件号码
                    td.resTd(width=160)
                        p.resp(align="center") 用户名
                    td.resTd(width=120)
                        p.resp(align="center") 角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色
                    td.resTd
            table.resTab
                tr.resTr
                    td.resTd(width=32)
                        i.resi(align="center").fa.fa-circle-o
                    td.resTd(width=100)
                        p.resp(align="center") 李卓恒
                    td.resTd(width=240)
                        p.resp(align="center") 440801199706202011
                    td.resTd(width=160)
                        p.resp(align="center") stcula
                    td.resTd(width=120)
                        p.resp(align="center") 网管
                    td.resTd
                        table.resTab1(border=0,cellspacing=0,cellpadding=0)
                            tr.resTr2
                                td(width=555,colspan=4)
                                    p(align="right")="uin:"+id
                            tr
                                td.resTd3(width=91)
                                    p(align="center") 真实姓名
                                td.resTd4(width=200)
                                    input.input(value="李卓恒")
                                td.resTd3(width=91)
                                    p(align="center") 用户名
                                td.resTd4(width=200)
                                    input.input(value="stcula",max="16")
                            tr
                                td.resTd3(width=91)
                                    p(align="center") 证件号码
                                td.resTd4(width=200)
                                    input.input(value="440801199706202011",max="18")
                                td.resTd3(width=91)
                                    p(align="center") 密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码
                                td.resTd4(width=200)
                                    input.input(placeholder="默认为身份证后六位")
                            tr
                                td.resTd3(width=91)
                                    p(align="center") Tel
                                td.resTd4(width=200)
                                    input.input(value="15917597227",max="11")
                                td.resTd3(width=91)
                                    p(align="center") Email
                                td.resTd4(width=200)
                                    input.input(value="1132463097@qq.com")
                            tr
                                td.resTd3(width=91)
                                    p(align="center") 角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色
                                td.resTd4(width=200)
                                    select.select
                                        option(value="pms1" selected="selected") 委托代理人
                                        option(value="pms2") 管理员
                                td.resTd3(width=91)
                                    p(align="center") 职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务
                                td.resTd4(width=200)
                                    input.input(value="无")
                            tr.resTr5
                                td(width=555,colspan=4)
                                    p(align="right")="注册日期:"+status
                        div.onbuttons
                            div.resGive.onbutton.onRefuse
                                p.onbuttoni 通知
                            div.resPut.onbutton.onGo
                                p.onbuttoni 保存
                            div.resReset.onbutton.onWarn
                                p.onbuttoni 重置
                            div.resDel.onbutton.onWarn
                                p.onbuttoni 删除
        #usrNext.onNext
            i.fa.fa-sort-desc


